.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

/*********************************************
 * BIO
 *********************************************/
.bio {
  text-align: center;
}

.bio img {
    width: 80%;
    border-radius: 50%;
}

.bio-headline {
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.0em !important;
}

.bio-byline {
  color: #F1C40F;
  font-size: 0.6em !important;
}

.bio-tagline {
  color: #8EA33B;
  font-size: 0.8em !important;
  font-style: italic !important;
}

.bio-contact {
  color: white;
  font-size: 0.7em !important;
}

.bio-about {
  font-size: 0.8em !important;
}

.bio-fa {
  color: #F1C40F;
}
